*.sassc
.sass-cache
capybara-*.html
**.orig
rerun.txt
pickle-email-*.html
*.gem
*.rbc
.bundle
.config
.yardoc
*emfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
coverage
test/tmp
test/version_tmp
tmp
